/**
 * @name Midnight (Cloud)
 * @description Custom theme discord
 * @author tonys183
 * @version 0.0.1
 * @website https://github.com/tonys183/BDThemes
*/

/* import theme module */
@import url("https://tonys183.github.io/BDThemes/build/midnight-cloud.css");

/* import theme addonds */
@import url("https://tonys183.github.io/BDThemes/addons/SpotifyControls.css");
/*@import url("https://tonys183.github.io/BDThemes/addons/RadialStatus.css");*/
/*@import url("https://tonys183.github.io/BDThemes/addons/FolderRedesign.css");*/
/*@import url("https://tonys183.github.io/BDThemes/addons/GridDetails.css");*/

body {
    /* font options */
    --font: ''; /* change to '' for default discord font */
    --code-font: ''; /* change to '' for default discord font */
    font-weight: 400; /* normal text font weight. DOES NOT AFFECT BOLD TEXT */

    /* sizes */
    --gap: 0px; /* spacing between panels */
    --divider-thickness: 4px; /* thickness of unread messages divider and highlighted message borders */
    --border-thickness: 1px; /* thickness of borders around main panels. DOES NOT AFFECT OTHER BORDERS */

    /* animation/transition options */
    --animations: on; /* off: disable animations/transitions, on: enable animations/transitions */
    --list-item-transition: 0.2s ease; /* transition for list items */
    --dms-icon-svg-transition: 0.4s ease; /* transition for the dms icon */
    --border-hover-transition: 0.2s ease; /* transition for borders when hovered */

    /* top bar options */
    --top-bar-height: calc(var(--gap) + 40px); /* height of the top bar (discord default is 36px, old discord style is 24px, var(--gap) recommended if button position is set to titlebar) */
    --top-bar-button-position: hide; /* off: default position, hide: hide buttons completely, serverlist: move inbox button to server list, titlebar: move inbox button to channel titlebar (will hide title) */
    --top-bar-title-position: off; /* off: default centered position, hide: hide title completely, left: left align title (like old discord) */
    --subtle-top-bar-title: off; /* off: default, on: hide the icon and use subtle text color (like old discord) */

    /* window controls */
    --custom-window-controls: off; /* off: default window controls, on: custom window controls */
    --window-control-size: 14px; /* size of custom window controls */

    /* dms button options */
    --custom-dms-icon: custom; /* off: use default discord icon, hide: remove icon entirely, custom: use custom icon */
    --dms-icon-svg-url: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 27' width='24' height='24'%3E%3Cpath fill='currentColor' d='M0 0h7v1H6v1H5v1H4v1H3v1H2v1h5v1H0V6h1V5h1V4h1V3h1V2h1V1H0m13 2h5v1h-1v1h-1v1h-1v1h3v1h-5V7h1V6h1V5h1V4h-3m8 5h1v5h1v-1h1v1h-1v1h1v-1h1v1h-1v3h-1v1h-2v1h-1v1h1v-1h2v-1h1v2h-1v1h-2v1h-1v-1h-1v1h-6v-1h-1v-1h-1v-2h1v1h2v1h3v1h1v-1h-1v-1h-3v-1h-4v-4h1v-2h1v-1h1v-1h1v2h1v1h1v-1h1v1h-1v1h2v-2h1v-2h1v-1h1M8 14h2v1H9v4h1v2h1v1h1v1h1v1h4v1h-6v-1H5v-1H4v-5h1v-1h1v-2h2m17 3h1v3h-1v1h-1v1h-1v2h-2v-2h2v-1h1v-1h1m1 0h1v3h-1v1h-2v-1h1v-1h1'%3E%3C/path%3E%3C/svg%3E"); /* icon svg url. MUST BE A SVG. */
    --dms-icon-svg-size: 90%; /* size of the svg (css mask-size property) */
    --dms-icon-color-before: var(--icon-subtle); /* normal icon color */
    --dms-icon-color-after: var(--white); /* icon color when button is hovered/selected */
    --custom-dms-background: off; /* off to disable, image to use a background image (must set url variable below), color to use a custom color/gradient */
    --dms-background-image-url: url(''); /* url of the background image */
    --dms-background-image-size: cover; /* size of the background image (css background-size property) */
    --dms-background-color: linear-gradient(70deg, var(--blue-2), var(--purple-2), var(--red-2)); /* fixed color/gradient (css background property) */

    /* background image options */
    --background-image: on; /* off: no background image, on: enable background image (must set url variable below) */
    --background-image-url: url('https://cdn.steamstatic.com/steamcommunity/public/images/items/286240/3e6b6698b9767ac7ba22c228ebb063c613a77cd8.jpg'); /* url of the background image */

    /* transparency/blur options */
    /* NOTE: TO USE TRANSPARENCY/BLUR, YOU MUST HAVE TRANSPARENT BG COLORS. FOR EXAMPLE: --bg-4: hsla(220, 15%, 10%, 0.7); */
    --transparency-tweaks: on; /* off: no changes, on: remove some elements for better transparency */
    --remove-bg-layer: off; /* off: no changes, on: remove the base --bg-3 layer for use with window transparency (WILL OVERRIDE BACKGROUND IMAGE) */
    --panel-blur: on; /* off: no changes, on: blur the background of panels */
    --blur-amount: 3px; /* amount of blur */
    --bg-floating: var(--bg-3); /* set this to a more opaque color if floating panels look too transparent. only applies if panel blur is on  */

    /* chatbar options */
    --custom-chatbar: separated; /* off: default chatbar, separated: chatbar separated from chat */
    --chatbar-height: 50px; /* height of the chatbar (56px by default, 47px to align with user panel, 56px recommended for separated) */

    /* other options */
    --small-user-panel: on; /* off: default user panel, on: smaller user panel like in old discord */
}

/* color options */
:root {
    --colors: on; /* off: discord default colors, on: midnight custom colors */

    /* text colors */
    --text-0: hsl(0, 0%, 100%); /* text on colored elements */
    --text-1: hsl(0, 0%, 100%); /* other normally white text */
    --text-2: hsl(0, 0%, 100%); /* headings and important text */
    --text-3: hsl(0, 0%, 70%); /* normal text */
    --text-4: hsl(0, 0%, 75%); /* icon buttons and channels */
    --text-5: hsl(217, 6%, 25%); /* muted channels/chats and timestamps */

    /* background and dark colors */
    --bg-1: rgb(26, 26, 26); /* dark buttons when clicked */
    --bg-2: rgb(12, 12, 12); /* dark buttons */
    --bg-3: rgb(10, 10, 10); /* spacing, secondary elements */
    --bg-4: rgba(0, 0, 0, 0.665); /* main background color */
    --bg-5: rgb(19, 18, 18); /* Other things */
    --bg-6: rgb(10, 10, 10); /* Other things */
    --hover: hsla(0, 3%, 29%, 0.1); /* channels and buttons when hovered */
    --active: hsla(0, 0%, 22%, 0.2); /* channels and buttons when clicked or selected */
    --active-2: hsla(220, 7%, 25%, 0.3); /* extra state for transparent buttons */
    --message-hover: hsla(0, 2%, 8%, 0.25); /* messages when hovered */

    /* accent colors */
    --accent-1: var(--blue-1); /* links and other accent text */
    --accent-2: var(--grey-1); /* small accent elements */
    --accent-3: var(--grey-2); /* accent buttons */
    --accent-4: var(--grey-3); /* accent buttons when hovered */
    --accent-5: var(--grey-4); /* accent buttons when clicked */
    --accent-new: var(--red-5); /* stuff that's normally red like mute/deafen buttons */
    --mention: linear-gradient(to right, color-mix(in hsl, var(--accent-2), transparent 90%) 40%, transparent); /* background of messages that mention you */
    --mention-hover: linear-gradient(to right, color-mix(in hsl, var(--accent-2), transparent 95%) 40%, transparent); /* background of messages that mention you when hovered */
    --reply: linear-gradient(to right, color-mix(in hsl, var(--text-3), transparent 90%) 40%, transparent); /* background of messages that reply to you */
    --reply-hover: linear-gradient(to right, color-mix(in hsl, var(--text-3), transparent 95%) 40%, transparent); /* background of messages that reply to you when hovered */

    /* status indicator colors */
    --online: #40a258; /* change to #40a258 for default */
    --dnd: #d83a41; /* change to #d83a41 for default */
    --idle: #cc954c; /* change to #cc954c for default */
    --streaming: #9147ff; /* change to #9147ff for default */
    --offline: var(--text-4); /* change to #82838b for default offline color */

    /* border colors */
    --border-light: transparent; /* general light border color */
    --border: transparent; /* general normal border color */
    --border-hover: transparent; /* border color of panels when hovered */
    --button-border: transparent; /* neutral border color of buttons */

    /* base colors */
    --grey-1: #272727;
    --grey-2: #161616;
    --grey-3: #0c0c0c;
    --grey-4: #131313;

    --red-1: oklch(74.318% 0.11588 20.158);
    --red-2: oklch(58.33% 0.19881 25.898);
    --red-3: oklch(64.245% 0.11658 20.779);
    --red-4: oklch(59.202% 0.11639 21.167);
    --red-5: oklch(55.061% 0.18506 25.704);

    --green-1: oklch(75% 0.11 170);
    --green-2: oklch(70% 0.11 170);
    --green-3: oklch(65% 0.11 170);
    --green-4: oklch(60% 0.11 170);
    --green-5: oklch(55% 0.11 160);

    --blue-1: oklch(75% 0.1 215);
    --blue-2: oklch(70% 0.1 215);
    --blue-3: oklch(65% 0.1 215);
    --blue-4: oklch(60% 0.1 215);
    --blue-5: oklch(55% 0.1 215);

    --yellow-1: oklch(80% 0.11 90);
    --yellow-2: oklch(75% 0.11 90);
    --yellow-3: oklch(70% 0.11 90);
    --yellow-4: oklch(65% 0.11 90);
    --yellow-5: oklch(60% 0.11 90);

    --purple-1: oklch(75% 0.11 310);
    --purple-2: oklch(70% 0.11 310);
    --purple-3: oklch(65% 0.11 310);
    --purple-4: oklch(60% 0.11 310);
    --purple-5: oklch(55% 0.11 310);

    --pink-1: hsl(344, 47%, 73%);
    --pink-2: #d3869b;
    --pink-3: #d3869b;
    --pink-4: hsl(344, 47%, 63%);
    --pink-5: hsl(344, 47%, 58%);

    /* Spotify Player Control Squid GIF Adjustments */
    --chillax-spotify-control-squid-gif-url: "https://static.wikia.nocookie.net/minecraft_gamepedia/images/0/0c/Glow_Squid_BE1.gif";
    --chillax-spotify-control-squid-width: 25px;
    --chillax-spotify-control-squid-height: 25px;
}