#app-mount .baseLayer__960e4 {
    opacity: 1 !important;
    transform: unset !important;
    will-change: unset !important;
}

#app-mount .stop-animations * {
    transition-property: inherit !important;
    animation: inherit !important;
}

#app-mount .layer__960e4.stop-animations:first-child::after {
    content: "" !important;
    position: fixed !important;
    background: rgba(0, 0, 0, 0.85) !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    z-index: 1001 !important;
    pointer-events: auto !important;
}


.theme-dark #app-mount .layer__960e4 ~ .layer__960e4 {
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    background: var(--themedarksettingsmodalbackground) !important;
    border-radius: 5px !important;
    box-shadow: var(--elevation-high) !important;
    width: var(--settingsmodalwidth) !important;
    height: var(--settingsmodalheight) !important;
    margin: auto !important;
    padding: 0 !important;
    overflow: hidden !important;
    contain: unset !important;
    z-index: 1002 !important;
}

#app-mount .layer__960e4 ~ .layer__960e4 > div,
#app-mount .layer__960e4 ~ .layer__960e4 .standardSidebarView__23e6b {
    position: static !important;
    border-radius: unset !important;
    width: 100% !important;
    height: 100% !important;
    margin: unset !important;
    padding: unset !important;
    overflow: hidden !important;
}

#app-mount .layer__960e4 ~ .layer__960e4 .sidebar__23e6b {
    width: 250px !important;
    padding: 20px 6px 20px 20px !important;
}

#app-mount .layer__960e4 ~ .layer__960e4 .contentColumnDefault__23e6b {
    padding-top: 0px !important;
    padding-bottom: 50px !important;
    padding-left: 20px !important;
}

#app-mount .layer__960e4 ~ .layer__960e4 .side_b3f026 {
    height: var(--settingsmodalheight) !important;
}

#app-mount .layer__960e4 ~ .layer__960e4 .header_b3f026 {
    max-width: calc(var(--settingsmodalwidth) - 256px) !important;;
}

#app-mount .layer__960e4 ~ .layer__960e4 .standardSidebarView__23e6b .editor {
    height: calc(var(--settingsmodalheight) - 120px) !important;
}


#app-mount .layer__960e4 ~ .layer__960e4 .header_b3f026 {
    max-width: calc(var(--settingsmodalwidth) - 730px) !important;
}

#app-mount .root__5c9fc {
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    background: var(--settingsmodalbackground) !important;
    border-radius: 5px !important;
    box-shadow: var(--elevation-high) !important;
    width: var(--settingsmodalwidth) !important;
    height: var(--settingsmodalheight) !important;
    margin: auto !important;
    padding: 0 !important;
    overflow: hidden !important;
    contain: unset !important;
    z-index: 1000 !important;
}

#app-mount .root__5c9fc.enterDone__5c9fc {
    transform: unset !important;
}

#app-mount .perksModal-CLcR1c {
    position: static !important;
    border-radius: unset !important;
    width: 100% !important;
    height: 100% !important;
    margin: unset !important;
    padding: unset !important;
}

#app-mount .perksModal-CLcR1c::before {
    width: var(--settingsmodalwidth) !important;
    height: var(--settingsmodalheight) !important;
    margin: auto !important;
}

#app-mount .perksModalContentWrapper-3RHugb {
    padding: 10px 0 10px !important;
}

#app-mount .root__5c9fc .perksModal-CLcR1c .carousel-3dvee9 {
    margin-left: calc(-0.5 * (100vw - var(--settingsmodalwidth))) !important;
}

.keybind_c2b141{
    display: none;
}

#app-mount .layer__960e4 ~ .layer__960e4 .toolsContainer__23e6b .closeButton_c2b141 {
    color: #3f3f3f;
    position: fixed !important;
    top: 20px !important;
    right: 20px !important;
    width: 35px !important;
    height: 35px !important;
    z-index: 1003 !important;
    background: none !important;
    border-radius: 50% !important;
    pointer-events: auto !important;
    cursor: pointer !important;
    transition: ease 0.3s;
}

#app-mount .layer__960e4 ~ .layer__960e4 .toolsContainer__23e6b .closeButton_c2b141:hover{
    color: #666666;
    transition: ease 0.3s;
}

#app-mount .root__5c9fc .closeWrapper-9ScmSq,
#app-mount .root__5c9fc .closeWrapper-9ScmSq .closeContent-I3JbQJ,
#app-mount .root__5c9fc .closeWrapper-9ScmSq .container_c2b141,
#app-mount .root__5c9fc .closeWrapper-9ScmSq .closeButton_c2b141 {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    background: transparent !important;
    border: none !important;
    border-radius: 0 !important;
    width: 100% !important;
    max-width: unset !important;
    height: 100% !important;
    max-height: unset !important;
    margin: 0 !important;
    padding: 0 !important;
    opacity: 0 !important;
    cursor: default !important;
}

#app-mount .root__5c9fc .closeWrapper-9ScmSq {
    position: fixed !important;
    top: 22px !important;
    z-index: -1 !important;
}

.theme-dark .sidebarRegion__23e6b {
    background: var(--sidebar-colour);
}

.theme-light .sidebarRegion__23e6b {
    background: var(--sidebar-colour);
}

.contentRegion__23e6b {
    zoom: 0.9 !important;
}
