.container_791eb8.withTimeline_791eb8 .timeline_791eb8 .grabber_791eb8 {
    width: 25px;
    height: 25px;
    background-color: transparent !important;
    background-image: url("https://static.wikia.nocookie.net/minecraft_gamepedia/images/0/0c/Glow_Squid_BE1.gif");
    background-size: cover;
    transform: rotate(90deg);
    border-radius: 0;
    margin-left: -24px;
    position: absolute;
    inset: -8px 0 0 0;
    display: block !important;
}

.container_791eb8.withTimeline_791eb8  {
  height: var(--playerHeight);
  border: none !important;
  padding: var(--paddingSides) var(--paddingSides) 10px var(--paddingSides) !important;
  margin: 0;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  overflow: hidden;
  z-index: 999;
}

.container_791eb8.withTimeline_791eb8.maximized_791eb8 {
  --albumCoverRadius: 10px !important;
  --paddingSides: 15px !important;
  --playerHeight: auto !important;
  padding-top: 5px !important;
}

.container_791eb8.withTimeline_791eb8.maximized_791eb8 .cover_791eb8 {
  border-radius: 8px;
}

.container_791eb8.withTimeline_791eb8_:not(.maximized_791eb8) {
  --paddingSides: 18px !important;
}

.container_791eb8.withTimeline_791eb8:not(.maximized_791eb8) .coverWrapper_791eb8 {
  width: calc(100% - ((var(--paddingSides) - 8px) * 2));
  height: 75px;
  margin: 0;
  position: absolute;
  inset: 10px 0 0 10px;
  overflow: hidden;
  z-index: -1;
  transition: none;
}

.textScroller_72a89f{
    color: #cccccc !important;
}

.barFill_791eb8{
    background-color: var(--green-1) !important;
}

.container_791eb8.withTimeline_791eb8:not(.maximized_791eb8) .cover_791eb8 {
  --extraExpansion: 20px;
  width: calc(100% + var(--extraExpansion));
  height: calc(100% + var(--extraExpansion));
  position: relative;
  inset: calc((var(--extraExpansion) / 2) * -1) 0 0 calc((var(--extraExpansion) / 2) * -1);
  filter: blur(2px);
  opacity: 0.5;
  pointer-events: none;
}

.container_791eb8.withTimeline_791eb8:not(.maximized_791eb8) .maximizer_791eb8 {
  width: 150%;
  height: 10px;
  left: -55px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0;
  padding: 0;
  transform: none;
}

.container_791eb8.withTimeline_791eb8:not(.maximized_791eb8) .maximizer_791eb8 > * {
  transform: rotate(90deg);
}

.container_791eb8.withTimeline_791eb8 .timeline_791eb8 .bar_791eb8:before, .container_791eb8.withTimeline_791eb8 .timeline_791eb8 .bar_791eb8:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: absolute;
  inset: 0 auto auto 0;
  transition: opacity 50ms ease-out;
}

.container_791eb8.withTimeline_791eb8 .timeline_791eb8 .bar_791eb8:before {
  background-color: rgba(255, 255, 255, 0.6);
  opacity: 0.4;
  z-index: -1;
}

.container_791eb8.withTimeline_791eb8 .timeline_791eb8 .bar_791eb8 {
  background: rgb(29, 29, 29) !important;
}

.container_791eb8.withTimeline_791eb8 button {
  margin: 0 !important;
  transition: transform 50ms ease-out;
}

.container_791eb8.withTimeline_791eb8 button:active {
  transform: translateY(2px);
}

.container_791eb8.withTimeline_791eb8:not(.maximized_791eb8) {
  --albumCoverRadius: 8px !important;
  --paddingSides: 18px !important;
  --playerHeight: 100px !important;
}

.container_791eb8.withTimeline_791eb8:not(.maximized_791eb8) .inner_791eb8 {
  height: 35px;
  overflow: hidden;
}

.container_791eb8.withTimeline_791eb8:not(.maximized_791eb8) .coverWrapper_791eb8 {
  width: calc(100% - (var(--paddingSides) - 8px) * 2);
  height: calc(var(--playerHeight) - 12px);
  margin: 0;
  position: absolute;
  inset: 10px 0 0 10px;
  overflow: hidden;
  z-index: -1;
}

.volumeSlider_791eb8 .grabber_a562c8{
    height: 12px;
    width: 12px;
}

:where(.visual-refresh) .mini_a562c8 .grabber_a562c8, :where(.visual-refresh) .slider_a562c8 .grabber_a562c8{
    margin-left: -8px;
}